{% extends 'generator/base.html' %}
{% load static %}
{% block content %}

    <h1 class="mt-4">Gráficos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Inicio</a></li>
        <li class="breadcrumb-item active">Gráficos</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            TODO
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            TODO
        </div>

        <div class="card-footer small text-muted">Actualizado ayer a  las 11:59 PM</div>
    </div>

{% endblock %}
